@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
body {
  background-image: url("./minimalist-nawpic-7.jpg");
  background-size: 2200px;
  background-repeat: none;
}

.header {
  width: 100%;
  height: 60px;
  background-color: rgba(43, 24, 24, 0.54);
}

.header .content {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
}

.header .content__h1 {
  line-height: 55px;
  color: rgba(255, 255, 255, 0.753);
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.main {
  background-color: rgba(0, 0, 0, 0.274);
  width: 400px;
  margin: 0px auto;
  margin-top: 50px;
  padding: 20px;
  padding-top: 30px;
  border-radius: 30px;
}

.main .form {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0px auto;
  background-color: rgba(0, 0, 0, 0.322);
  padding: 5px;
  border-radius: 20px;
}

.main .form__text {
  color: #e7e7e7;
  border: none;
  width: 300px;
  background: none;
  border-right: 1px solid grey;
  outline: none;
}

.main .form__text:focus {
  color: white;
}

.main .form__text::-webkit-input-placeholder {
  color: #e7e7e7;
}

.main .form__text:-ms-input-placeholder {
  color: #e7e7e7;
}

.main .form__text::-ms-input-placeholder {
  color: #e7e7e7;
}

.main .form__text::placeholder {
  color: #e7e7e7;
}

.main .form__search {
  border: none;
  background: url("./search.svg") no-repeat;
  background-position: center;
  width: 25px;
  -webkit-filter: invert(60%);
          filter: invert(60%);
  cursor: pointer;
}

.main__h2 {
  margin-top: 15px;
  text-align: center;
  font-size: 50px;
  font-weight: 200;
  font-family: 'Poppins', sans-serif;
}

.main__h3 {
  text-align: center;
  margin: 10px;
  font-family: 'Poppins', sans-serif;
}

.main__h3--week {
  margin: 0px;
  margin-bottom: 5%;
  font-size: 2em;
  font-weight: 300;
}

.main .weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0px auto;
}

.main .weather__icon {
  width: 140px;
  height: 140px;
}

.main .weather .info__temp {
  text-align: center;
  margin-top: 23px;
  font-size: 40px;
}

.main .weather .info__description {
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.main .weather .info div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main .weather .info div__humidity {
  text-align: center;
}

.main .weather .info div__speed {
  text-align: center;
}

.main--extra {
  width: 80%;
  margin-top: 5%;
}

.main .extra__grid {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
}

.main .extra__grid .dia {
  margin: 0px auto;
  padding: 8%;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(0, 0, 0, 0.222);
  border-radius: 10%;
  color: white;
}

.main .extra__grid .dia__h3 {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 1.5em;
}

.main .extra__grid .dia__icon {
  width: 99%;
  margin: 0px auto;
}

.main .extra__grid .dia__temp {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 438px) {
  .main {
    width: 300px;
    margin-top: 5%;
  }
  .main .form {
    width: 90%;
  }
  .main .form__text {
    width: 80%;
    height: 30px;
  }
  .main .extra__grid {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    overflow: hidden;
    overflow-x: scroll;
  }
  .main .extra__grid .dia {
    margin: 0px auto;
    margin: 14px;
    padding: 8%;
    width: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .extra__grid .dia__h3 {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 1.2em;
  }
  .main .extra__grid .dia__icon {
    width: 99%;
    margin: 0px auto;
  }
  .main .extra__grid .dia__temp {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    text-align: center;
  }
  body {
    background-size: 1800px;
    background-position-x: -150px;
    background-position-y: -200px;
    background-repeat: none;
  }
}
/*# sourceMappingURL=style.css.map */