@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body{
    background-image: url("./minimalist-nawpic-7.jpg");
    background-size: 2200px;   
    background-repeat: none;
}
.header{
    width: 100%;
    height: 60px;
    background-color: rgba(43, 24, 24, 0.54);
    .content{
        width: 100%;
        max-width: 1200px;
        margin: 0px auto;
        &__h1{
            line-height: 55px;
            color: rgba(255, 255, 255, 0.753);
            text-align: center;
            font-family: 'Poppins', sans-serif;
            font-size: 20px;
            font-weight: 600;
        }
    }
}
.main{
    background-color: rgba(0, 0, 0, 0.274);
    width: 400px;
    margin: 0px auto;
    margin-top: 50px;
    padding: 20px;
    padding-top: 30px;
    border-radius: 30px;
    .form{
        width: fit-content;
        margin: 0px auto;
        background-color: rgba(0, 0, 0, 0.322);
        padding: 5px;
        border-radius: 20px;
        &__text{
            color: rgb(231, 231, 231);
            border: none;
            width: 300px;
            background: none;
            border-right: 1px solid grey;
            outline: none;
            &:focus{
                color: white;
            }
            &::placeholder{
                color: rgb(231, 231, 231);
            }
        }
        &__search{
            border: none;
            background: url("./search.svg") no-repeat;
            background-position: center;
            width: 25px;
            filter: invert(60%);
            cursor: pointer;
        }
    }
    &__h2{
        margin-top: 15px;
        text-align: center;
        font-size: 50px;
        font-weight: 200;
        font-family: 'Poppins', sans-serif;
    }
    .weather{
        display: flex;
        justify-content: space-between;
        width: fit-content;
        margin: 0px auto;
        &__icon{
            width: 140px;
            height: 140px;
        }
        .info{
            &__temp{
                text-align: center;
                margin-top: 23px;
                font-size: 40px;
            }
            &__description{
                width: 100%;
                text-align: center;
                padding-top: 10px;
                padding-bottom: 10px;
            }
            div{
                display: flex;
                justify-content: space-around;
                &__humidity{
                    text-align: center;
                }
                &__speed{
                    text-align: center;
                }
            }
        }
    }
}
